body {
	background:#eee;
	color:#222;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.player {
	padding:10px;
	position: absolute;
	-webkit-transition:all 1s;
	        transition:all 1s;
	-webkit-animation:none;
	        animation:none;
}

.failed {
	-webkit-animation:bgFlashRed 3s;
	        animation:bgFlashRed 3s;
}


@-webkit-keyframes bgFlashRed {
    0%   {background-color: red;}
    100% {background-color: inherit;}
}


@keyframes bgFlashRed {
    0%   {background-color: red;}
    100% {background-color: inherit;}
}

.succeed {
	-webkit-animation:bgFlashGreen 3s;
	        animation:bgFlashGreen 3s;
}

.winner {
	-webkit-animation:bgFlashGreen 1.5s infinite;
	        animation:bgFlashGreen 1.5s infinite;
}

@-webkit-keyframes bgFlashGreen {
    0%   {background-color: green;}
    100% {background-color: inherit;}
}

@keyframes bgFlashGreen {
    0%   {background-color: green;}
    100% {background-color: inherit;}
}

#country {
	position:absolute;
	left:50%;
	top:50%;
	margin:0;
	transform:translate(-50%,-50%);
}

.city {
	transform:translate(-50%,-50%);
	position: absolute;
	padding:5px;
	text-align: center;
	font-weight: bold;
}

.city span {
	font-weight: normal;
}