html {
	height: 100%;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	color:#222;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	background:url("../img/bg.jpg") no-repeat scroll center center / cover  rgba(255, 255, 255, 0);
	overflow: hidden;
}

/* GAMEPLAY */

body.paused {

}

.overlay {
    display: none;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 5;
}

.paused .overlay {
    display:block;
}

.start .overlay {
    display: block;
    -webkit-animation:fadeOut 4s 1s;
        animation:fadeOut 4s 1s;
}

.player {
	padding:10px;
	position: absolute;
	-webkit-animation:none;
	        animation:none;
	background: rgba(255,255,255,0.8);
    border-radius: 3px;
    font-size: 12px;
    padding: 10px 10px 10px 85px;
    text-align: left;
    cursor:pointer;
}

.paused .player, .show .player { /* prevent player elements from appearing clickable when they are actually not */
	cursor:default;
}

.key {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin: -49px -68px;
    padding: 15px 15px 14px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    color: #6b6b6b;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #ccc;
    border-radius: 7px;
    z-index: 6;
}

.start .key {
    -webkit-animation:bgFlashRed 1s infinite;
        animation:bgFlashRed 1s infinite;
}

.failed {
	-webkit-animation:bgFlashRed 3s;
	        animation:bgFlashRed 3s;
}

.succeed {
	-webkit-animation:bgFlashGreen 3s;
	        animation:bgFlashGreen 3s;
}

#country {
	position:absolute;
	left:50%;
	top:50%;
	width:190px;
	margin:0;
    z-index:6;
	-webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}

.honey { /* honey jar */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 298px;
    background: url("../img/honey_jar.png");
    -webkit-transform: translate(-57%, -50%);
        -ms-transform: translate(-57%, -50%);
            transform: translate(-57%, -50%);
}
.honey > div { /* honey inside of the jar (progress bar) */
    position: absolute;
    bottom: 13px;
    width: 233px;
    height: 209px;
    margin-left: 56px;
    background: url("../img/honey.png") no-repeat bottom;
    -webkit-transition:all 1s ease;
            transition:all 1s ease;
}

.city {
	position: absolute;
	min-width: 140px;
	margin:-20px -75px;
	padding:5px 5px 75px;
	text-align: center;
	font-weight: bold;
	background: url("../img/bug.png") bottom left no-repeat;
	z-index: 9;
	-webkit-animation:Orbit_cw 2s linear infinite;
	        animation:Orbit_cw 2s linear infinite;
}

.city:nth-child(odd) { /* Let every second city rotate anti clockwise */
	-webkit-animation:Orbit_acw 2s linear infinite;
	        animation:Orbit_acw 2s linear infinite;
}

.paused .city {
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}

.show .city {
	background: url("../img/fly.png") bottom left no-repeat;
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}

.show .city.capital {
	background: url("../img/bee.png") bottom left no-repeat;
}

.captal { /* capital city is always on top (=> always visible) */
	z-index: 10;
}


.city span { /* timer */
	font-weight: normal;
}


/* STARTSCREEN */

.startScreen {
    text-align: center;
}

.startScreen div {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 10px;
    padding: 25px 15px;
    vertical-align: top;
    width: 25%;
    border-radius: 5px;
}

.startScreen .explanation {
	text-align: left;
}

.startScreen .bug {
    background-position: left bottom;
    display: inline-block;
    height: 62px;
    width: 82px;
    margin:5px;
}

.startScreen p {
    color: #444;
    font-size: 13px;
    line-height: 1.35;
    width: 98%;
}

.startScreen input[type='number'] {
		border:1px solid #999;
	padding:5px;
	margin:3px;
	border-radius: 3px;
	background: #fff;
}

.startScreen input[type='number']:focus {
	background: #f6f6f6;
}

.startScreen input[type='submit'] {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	border-radius:3px;
	border:1px solid #999;
	display:inline-block;
	cursor:pointer;
	color:#333;
	font-size:15px;
	padding:6px 24px;
	text-shadow:0px 1px 0px #ffffff;
}
.startScreen input[type='submit']:hover {
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.startScreen input[type='submit']:active {
	position:relative;
	top:1px;
}

/* RESULT SCREEN */


.winner {
	-webkit-animation:bgFlashGreen 1.5s infinite;
	        animation:bgFlashGreen 1.5s infinite;
}

#country.result {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: auto;
}
.result span {
    display: block;
    float: none;
    font-size: 16px;
}

/* ANIMATION KEYFRAMES */

@-webkit-keyframes fadeOut {
    0%   {opacity:1;}
    100% {opacity:0;}
}

@keyframes fadeOut {
    0%   {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes bgFlashRed {
    0%   {background-color: rgba(255,0,0,1);color:#fff;}
    100% {background-color: rgba(255,255,255,0.8);color:#333;}
}


@keyframes bgFlashRed {
    0%   {background-color: rgba(255,0,0,1);color:#fff;}
    100% {background-color: rgba(255,255,255,0.8);color:#333;}
}

@-webkit-keyframes bgFlashGreen {
    0%   {background-color: rgba(0,255,0,1);}
    100% {background-color: rgba(255,255,255,0.8);}
}

@keyframes bgFlashGreen {
    0%   {background-color: rgba(0,255,0,1);}
    100% {background-color: rgba(255,255,255,0.8);}
}

@-webkit-keyframes Orbit_cw {
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes Orbit_cw {
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@-webkit-keyframes Orbit_acw {
    from { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); transform: rotate(360deg) translateX(50px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); transform: rotate(0deg) translateX(50px) rotate(0deg); }
}

@keyframes Orbit_acw {
    from { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); transform: rotate(360deg) translateX(50px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); transform: rotate(0deg) translateX(50px) rotate(0deg); }
}
